.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
  }
  
  .card {
    height: 160px;
    border-radius: 12px;
    background-color: rgba(218, 206, 247, 0.2);
    border-color: grey;
    display: flex;
    padding: 12px;
    place-self: center;
    font-size: 14px;
    color: grey;
    font-weight: bolder;
    column-count: 2;
  }  
