.navbar {
  justify-content: space-between;
  background: $purple;
  height: 56px;
}

.navbar-collapse {
  flex-grow: 0;
  padding: 8px
}

.navbar-brand img {
  width: 200px;
  margin: 0px;
}

.navbar-nav li {
  margin-left: 8px;
  margin-right: 8px;
}

.nav-item {
  color: #000000;
}
