<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://res.cloudinary.com/dwmlgdrg1/image/upload/v1602752845/f6nlcyfyngigktxgycgh.png" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://res.cloudinary.com/dwmlgdrg1/image/upload/v1602752883/gw4hyztxpadpoe7g6c38.png" />
        <div class="dropdown-menu dropdown-menu-right" id="settings" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <%= link_to "Edit Profile", edit_user_registration_path %>
            <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
            <% if user.admin? %>
              <%= link_to "Edit Profile", edit_user_registration_path %>
          <% else %>
          <%= link_to "Sign In", new_user_session_path %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
